[submodule "handmocap/hand_modules/MeshGraphormer"]
	path = handmocap/hand_modules/MeshGraphormer
	url = https://github.com/arkincognito/MeshGraphormer.git
[submodule "handmocap/hand_modules/apex"]
	path = handmocap/hand_modules/apex
	url = https://github.com/NVIDIA/apex.git